# Files
*.sln
*.vcxproj
*.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dgml

# Directories
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Bb]inaries/
[Ll]ibrary/
[Ii]ntermediate/