# Files
*.sln
*.vcxproj
*.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dgml
*.pdb

# Directories
.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug [Xx]86/
[Dd]ebug [Xx]64/
[Rr]elease [Xx]86/
[Rr]elease [Xx]64/
[Ll]ibrary/
[Ii]ntermediate/

# Exception Directories
!Engine/Frontend/System/Build/*/*
!**/ThirdParty/**