# Files
*.sln
*.vcxproj
*.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dgml
*.pdb

# Directories
.vs/
[Oo]bj/
[Dd]ebug [Ww]in32/
[Dd]ebug [Ww]in64/
[Rr]elease [Ww]in32/
[Rr]elease [Ww]in64/
[Ll]ibrary/
[Ii]ntermediate/

# Exception Directories
!Engine/Frontend/System/Build/*/*
!**/ThirdParty/**